In [2]:
#printing odd and even
L=[100,53,200,79,20,89,1007]
#Segragate them into even numbers list adn odd number list
even= [num for num in L if num % 2 == 0]
odd = [num for num in L if num % 2 != 0]
print(even)
print(odd)

[100, 200, 20]
[53, 79, 89, 1007]

In [2]:
#update the list
orders=[['apple',10],['banana',5],['cherry',7],['dragon',10],['grapes',9],['apple',20]]
for each in orders:
    if each[0]=="cherry":
        each[1]=10
print(orders)

[['apple', 10], ['banana', 5], ['cherry', 10], ['dragon', 10], ['grapes', 9], ['apple', 20]]

In [3]:
orders=[['apple',10],['banana',5],['cherry',7],['dragon',10],['grapes',9],['apple',20]]
for i in range(1):
    orders.append(['apple', 15])
print(orders)

[['apple', 10], ['banana', 5], ['cherry', 7], ['dragon', 10], ['grapes', 9], ['apple', 20], ['apple', 15]]

In [8]:
#append and sum of quantity
orders=[['apple',10],['banana',5],['cherry',7],['dragon',10],['grapes',9],['apple',20]]
total=[]
orders.append(['apple',15])
print(orders)
for each_item in orders:
    if each_item[0]=='apple':
        total.append(each_item[1])
print(total)
print(sum(total))

[['apple', 10], ['banana', 5], ['cherry', 7], ['dragon', 10], ['grapes', 9], ['apple', 20], ['apple', 15]]
[10, 20, 15]
45

In [9]:
#tuple
tup1=(4,10,8,'A',9.31,False,9-6j)
print(tup1)
print(type(tup1))

(4, 10, 8, 'A', 9.31, False, (9-6j))
<class 'tuple'>

In [14]:
#Slicing on tuple
tup1=(4,10,8,'A',9.31,False,9-6j)
print("tuple :",tup1)
print(tup1[4:6])

tuple : (4, 10, 8, 'A', 9.31, False, (9-6j))
(9.31, False)

In [16]:
#finding index in tuple
#use index method to find the index value
tup1=(4,10,8,'A',9.31,False,9-6j)
tup1.index(9-6j)

6

In [17]:
#use count() method of tuple to count number of elements in tuple
tup2=(10,20,1,10,30,10)
tup2.count(10)

3

In [1]:
dir(dict)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [2]:
scores={"Virat":90,"Rohit":100,"Rahul":70,"Hardik":9,"Gill":20,"Jadeja":30,"Siraz":15}
scores

{'Virat': 90,
 'Rohit': 100,
 'Rahul': 70,
 'Hardik': 9,
 'Gill': 20,
 'Jadeja': 30,
 'Siraz': 15}

In [16]:
scores["Aswin"]=80
scores

{'Virat': 90,
 'Rohit': 100,
 'Rahul': 70,
 'Hardik': 86,
 'Gill': 20,
 'Jadeja': 30,
 'Siraz': 15,
 'Aswin': 80,
 'Hrdik': 86}

In [18]:
scores.update({"Hardik":86})
scores

{'Virat': 90,
 'Rohit': 100,
 'Rahul': 70,
 'Hardik': 86,
 'Gill': 20,
 'Jadeja': 30,
 'Siraz': 15,
 'Aswin': 80,
 'Hrdik': 86}

In [13]:
#A new key value pair is added
scores.setdefault("Pujara",50)
scores

{'Virat': 90,
 'Rohit': 100,
 'Rahul': 70,
 'Hardik': 9,
 'Gill': 20,
 'Jadeja': 30,
 'Siraz': 15,
 'Aswin': 80,
 'Hrdik': 86,
 'Pujara': 50}

In [14]:
#Removal of elements
#1.popitem=removes last pair
#2pop(key)=removes specific elements
scores.popitem()
scores

{'Virat': 90,
 'Rohit': 100,
 'Rahul': 70,
 'Hardik': 9,
 'Gill': 20,
 'Jadeja': 30,
 'Siraz': 15,
 'Aswin': 80,
 'Hrdik': 86}

In [21]:
scores.pop("Rahul")
scores

{'Virat': 90,
 'Rohit': 100,
 'Hardik': 86,
 'Gill': 20,
 'Jadeja': 30,
 'Siraz': 15,
 'Aswin': 80}

In [22]:
#Get=to retrive the values to a specific key
scores.get("Siraz")

15

In [23]:
# use of fromkeys() to create a new 
list1=["A","B","C","D"]
my_dict=dict.fromkeys(list1,20)
my_dict

{'A': 20, 'B': 20, 'C': 20, 'D': 20}

In [29]:
my_dict.update({"A":20,"B":30})
my_dict

{'A': 20, 20: {30, 'B'}, 'B': 30}

In [30]:
#update using for loop
for k in scores.keys():
    if k=='Hardik':
        scores[k]=19
scores

{'Virat': 90,
 'Rohit': 100,
 'Hardik': 19,
 'Gill': 20,
 'Jadeja': 30,
 'Siraz': 15,
 'Aswin': 80}

In [34]:
#use for loop to compute total scores
scores_list=[]
for v in scores.values():
    scores_list.append(v)
print(scores_list)
print("Total Score:",sum(scores_list))

[90, 100, 19, 20, 30, 15, 80]
Total Score: 354