In [2]:
#printing odd and even
L=[100,53,200,79,20,89,1007]
#Segragate them into even numbers list adn odd number list
even= [num for num in L if num % 2 == 0]
odd = [num for num in L if num % 2 != 0]
print(even)
print(odd)

[100, 200, 20]
[53, 79, 89, 1007]

In [2]:
#update the list
orders=[['apple',10],['banana',5],['cherry',7],['dragon',10],['grapes',9],['apple',20]]
for each in orders:
    if each[0]=="cherry":
        each[1]=10
print(orders)

[['apple', 10], ['banana', 5], ['cherry', 10], ['dragon', 10], ['grapes', 9], ['apple', 20]]

In [3]:
orders=[['apple',10],['banana',5],['cherry',7],['dragon',10],['grapes',9],['apple',20]]
for i in range(1):
    orders.append(['apple', 15])
print(orders)

[['apple', 10], ['banana', 5], ['cherry', 7], ['dragon', 10], ['grapes', 9], ['apple', 20], ['apple', 15]]

In [8]:
#append and sum of quantity
orders=[['apple',10],['banana',5],['cherry',7],['dragon',10],['grapes',9],['apple',20]]
total=[]
orders.append(['apple',15])
print(orders)
for each_item in orders:
    if each_item[0]=='apple':
        total.append(each_item[1])
print(total)
print(sum(total))

[['apple', 10], ['banana', 5], ['cherry', 7], ['dragon', 10], ['grapes', 9], ['apple', 20], ['apple', 15]]
[10, 20, 15]
45

In [9]:
#tuple
tup1=(4,10,8,'A',9.31,False,9-6j)
print(tup1)
print(type(tup1))

(4, 10, 8, 'A', 9.31, False, (9-6j))
<class 'tuple'>

In [14]:
#Slicing on tuple
tup1=(4,10,8,'A',9.31,False,9-6j)
print("tuple :",tup1)
print(tup1[4:6])

tuple : (4, 10, 8, 'A', 9.31, False, (9-6j))
(9.31, False)

In [16]:
#finding index in tuple
#use index method to find the index value
tup1=(4,10,8,'A',9.31,False,9-6j)
tup1.index(9-6j)

6

In [17]:
#use count() method of tuple to count number of elements in tuple
tup2=(10,20,1,10,30,10)
tup2.count(10)

3

In [1]:
dir(dict)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [2]:
scores={"Virat":90,"Rohit":100,"Rahul":70,"Hardik":9,"Gill":20,"Jadeja":30,"Siraz":15}
scores

{'Virat': 90,
 'Rohit': 100,
 'Rahul': 70,
 'Hardik': 9,
 'Gill': 20,
 'Jadeja': 30,
 'Siraz': 15}

In [16]:
scores["Aswin"]=80
scores

{'Virat': 90,
 'Rohit': 100,
 'Rahul': 70,
 'Hardik': 86,
 'Gill': 20,
 'Jadeja': 30,
 'Siraz': 15,
 'Aswin': 80,
 'Hrdik': 86}

In [18]:
scores.update({"Hardik":86})
scores

{'Virat': 90,
 'Rohit': 100,
 'Rahul': 70,
 'Hardik': 86,
 'Gill': 20,
 'Jadeja': 30,
 'Siraz': 15,
 'Aswin': 80,
 'Hrdik': 86}

In [13]:
#A new key value pair is added
scores.setdefault("Pujara",50)
scores

{'Virat': 90,
 'Rohit': 100,
 'Rahul': 70,
 'Hardik': 9,
 'Gill': 20,
 'Jadeja': 30,
 'Siraz': 15,
 'Aswin': 80,
 'Hrdik': 86,
 'Pujara': 50}

In [14]:
#Removal of elements
#1.popitem=removes last pair
#2pop(key)=removes specific elements
scores.popitem()
scores

{'Virat': 90,
 'Rohit': 100,
 'Rahul': 70,
 'Hardik': 9,
 'Gill': 20,
 'Jadeja': 30,
 'Siraz': 15,
 'Aswin': 80,
 'Hrdik': 86}

In [21]:
scores.pop("Rahul")
scores

{'Virat': 90,
 'Rohit': 100,
 'Hardik': 86,
 'Gill': 20,
 'Jadeja': 30,
 'Siraz': 15,
 'Aswin': 80}

In [22]:
#Get=to retrive the values to a specific key
scores.get("Siraz")

15

In [23]:
# use of fromkeys() to create a new 
list1=["A","B","C","D"]
my_dict=dict.fromkeys(list1,20)
my_dict

{'A': 20, 'B': 20, 'C': 20, 'D': 20}

In [29]:
my_dict.update({"A":20,"B":30})
my_dict

{'A': 20, 20: {30, 'B'}, 'B': 30}

In [30]:
#update using for loop
for k in scores.keys():
    if k=='Hardik':
        scores[k]=19
scores

{'Virat': 90,
 'Rohit': 100,
 'Hardik': 19,
 'Gill': 20,
 'Jadeja': 30,
 'Siraz': 15,
 'Aswin': 80}

In [34]:
#use for loop to compute total scores
scores_list=[]
for v in scores.values():
    scores_list.append(v)
print(scores_list)
print("Total Score:",sum(scores_list))

[90, 100, 19, 20, 30, 15, 80]
Total Score: 354

In [1]:
s1={1,8,5,6,4,12,18}
print(s1)

{1, 18, 4, 5, 6, 8, 12}

In [2]:
lst1=[1,8,9,0,10,20,78,8,8,8]

In [3]:
s2=set(lst1)
print(s2)
print(type(s2))

{0, 1, 8, 9, 10, 78, 20}
<class 'set'>

In [4]:
dir(set)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [12]:
##Union operationusins | operator
s1|s2

{0, 1, 4, 5, 6, 8, 9, 10, 12, 18, 20, 78}

In [9]:
s1 & s2

{1, 8}

In [10]:
s1-s2

{4, 5, 6, 12, 18}

In [11]:
s2-s1

{0, 9, 10, 20, 78}

In [13]:
## Symmetric difference
s1={1,2,3,4,5}
s2={4,5,6,7,8}
s1.symmetric_difference(s2)

{1, 2, 3, 6, 7, 8}

In [16]:
s1={1,2,3,4,5}
s2={1,2,3}
s2.issubset(s1)

True

In [17]:
s1={1,2,3,4,5}
s2={1,2,3}
s2.issuperset(s1)

False

In [18]:
str1="Welcome to aiml class"
print(str1)
str2="we started with python"
print(str2)
str3='''This is an awesome class''' 
print(str3)

Welcome to aiml class
we started with python
This is an awesome class

In [19]:
print(type(str1))
print(type(str3))
print(type(str2))

<class 'str'>
<class 'str'>
<class 'str'>

In [20]:
#Slicing
print(str1)
str1[5:10]

Welcome to aiml class

'me to'

In [21]:
# Use of split() 
str1="Welcome to aiml class"
print(str1)
str1.split()

Welcome to aiml class

['Welcome', 'to', 'aiml', 'class']

In [23]:
#Use join() method
reviews=["The product is awesome","Great Service"]
joined_string=' '.join(reviews)
joined_string

'The product is awesome;Great Service'

In [30]:
#USe of strip() method
str5="   Hello, How are you?   "
str5

'   Hello, How are you?   '

In [31]:
str5.strip()

'Hello, How are you?'

In [34]:
str5.upper()

'   HELLO, HOW ARE YOU?   '

In [36]:
sales_data = {
    'product_id': [101, 102, 103, 104, 105],
    'product_name': ['Laptop', 'Headphones', 'Smartphone', 'Tablet', 'Keyboard'],
    'category': ['Electronics', 'Accessories', 'Electronics', 'Electronics', 'Accessories'],
    'pricerange': ['High', 'Medium', 'High', 'Medium', 'Low'],
    'stockavailable': [50, 150, 75, 40, 200],
}
for k,v in sales_data.items():
    print(k,set(v))
    print('/n')

product_id {101, 102, 103, 104, 105}
/n
product_name {'Keyboard', 'Smartphone', 'Headphones', 'Tablet', 'Laptop'}
/n
category {'Electronics', 'Accessories'}
/n
pricerange {'High', 'Low', 'Medium'}
/n
stockavailable {40, 200, 75, 50, 150}
/n

In [37]:
review_analysis={}
for key,review in reviews.items():
    e=words=revies

Ram

In [41]:
#To acces keys for k in d1.keys
d1={"Ram":180,"Shyam":170,"Ramya":176,"John":191}
for k in d1.keys():
    print(k)

Ram
Shyam
Ramya
John

In [42]:
#Acces both kays,values for k,v in di.items()
for v in d1.values():
    print(v)

180
170
176
191

In [43]:
for k,v in d1.items():
    print(k,v)

Ram 180
Shyam 170
Ramya 176
John 191